.container{
  max-width: 1138px;
  margin: 0 auto;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header{
  display: none; //Поменять на flex
  justify-content: center;
}