.container{
  max-width: 1138px;
  margin: 0 auto;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.wrapper{
  width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
  display: none; //Поменять на flex
  justify-content: center;
}