.container{
  max-width: 1138px;
  margin: 0 auto;
}

canvas {
  border: 1px solid black;
  width: 75vw;
  height: 98vh;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}